################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages
/PngProcessor/bin
/PngProcessor/obj/Debug
/PngProcessor.Tests/bin/Debug
/PngProcessor.Tests/obj/Debug
/.vs/config
